<div class="split left" >

    <!--<div class="sidenav">-->
        <div class="vertical-menu">
        <div w3-bar-item class="tabcontent">
            <h3>Dashboard</h3>
            <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
          </div>


          <a routerLink="Option1" class="nav-link" routerLinkActive="active">
            Option1
          </a>

            <a routerLink="Option2" class="nav-link" routerLinkActive="active">
              Option2
            </a>

              <a routerLink="Option3" class="nav-link" routerLinkActive="active">
                Option3
              </a>


    </div>

  </div>



  <div class="split right" style="width:80%;float:left;">

    <router-outlet></router-outlet>

</div>
